@using System.Globalization;
@using System.Security.Claims;
@using TheBeautyForum.Web.ViewModels.User;
@model ProfileViewModel
@{
    ViewData["Title"] = "Your profile";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/058aede230.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/post.css">
    <link rel="stylesheet" href="~/css/studios.css">
</head>

<body>
    <!-----------------------profile page----------------------->
    <div class="profile-container">
        <div class="profile-details" style="margin-top: 1.5em;">
            <div class="pd-left">
                <div class="pd-row" style="display: flex; flex-direction: row; align-items: center;">
                    <img src="@Model.ProfilePictureUrl" class="pd-image">
                    <div>
                        <h2>@Model.FirstName @Model.LastName</h2>
                        <h7>@Model.Email</h7>
                        <div style="padding-top: 0.6em;">
                            <a type="button" class="btn btn-light" style="color: #F9A392; background-color:#FEF1EF; font-weight: 400; border-radius: 13px; padding: 0.4em 1em 0.4em 1em" asp-area="" asp-controller="User" asp-action="Edit">Edit profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-info">
            <div class="post-containerr" style="width: 630px; margin-left: 0em">
                <h3 style="padding-bottom: 0.4em; padding-left:0.5em">Studios waiting for approval</h3>
                <div class="service">
                    <div class="row g-6 justify-content-start">
                        <div style="margin-right: 10em;">
                            <div style="display: flex; flex-wrap: wrap">
                                @foreach (var s in Model.FavoriteStudios.Where(x => x.IsApproved == false).OrderBy(x => x.StudioName))
                                {
                                    <div class="col-xl-6 wow fadeInUp" style="margin-bottom: 1em" data-wow-delay="0.3s">
                                        <div class="service-item rounded">
                                            <div class="service-img rounded-top">
                                                <img src="@s.ProfilePicUrl" style="height: 250px; width: 200px; margin-top: 0" class="img-fluid rounded-top w-100" alt="">
                                            </div>
                                            <div class="service-content rounded-bottom light-ligth p-4">
                                                <div class="service-content-inner">
                                                    <div style="height: 80px">
                                                        <div style="display: flex; flex-direction: row">
                                                            <h5 class="mb-1" style="padding-right: 0.1em">@s.StudioName</h5>
                                                            <a style="font-size: 12px; font-weight: 200; margin-left: 0.5em; margin-top: 0.3em; color: #F9A392">Pending...</a>
                                                        </div>
                                                        <p style="margin-bottom: 0.5em; font-size: 12px; font-weight: 400; color: #626262">@s.StudioDescription</p>
                                                    </div>
                                                    <a class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2" asp-controller="Studio" asp-action="Profile" asp-route-id="@s.StudioId">View profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-containerr" style="width: 620px; margin-right: 0em">
                <h3 style="padding-bottom: 0.4em; padding-left: 0.5em">Your studios</h3>
                <div class="service">
                    <div class="row g-4 justify-content-start">
                        <div style="margin-right: 10em;">
                            <div style="display: flex; flex-wrap: wrap">
                                @foreach (var s in Model.FavoriteStudios.Where(x => x.IsApproved == true).OrderBy(x => x.StudioName))
                                {
                                    <div class="col-xl-6 wow fadeInUp" style="margin-bottom: 1em" data-wow-delay="0.3s">
                                        <div class="service-item rounded">
                                            <div class="service-img rounded-top">
                                                <img src="@s.ProfilePicUrl" style="height: 250px; width: 200px; margin-top: 0" class="img-fluid rounded-top w-100" alt="">
                                            </div>
                                            <div class="service-content rounded-bottom light-ligth p-4">
                                                <div class="service-content-inner">
                                                    <div style="height: 80px">
                                                        <div style="display: flex; flex-direction: row">
                                                            <h5 class="mb-1" style="padding-right: 0.1em">@s.StudioName</h5>
                                                            @for (int i = 0; i < s.RatingSum; i++)
                                                            {
                                                                <span style="font-size: 11px; padding-top: 0.5em" class="fa fa-star checked"></span>
                                                            }
                                                        </div>
                                                        <p style="margin-bottom: 0.5em; font-size: 12px; font-weight: 400; color: #626262">@s.StudioDescription</p>
                                                    </div>
                                                    <a class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2" asp-controller="Studio" asp-action="Profile" asp-route-id="@s.StudioId">View profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function likeButton() {
            let graylike = document.querySelector('.fa-heart');

            if (graylike.style.color = "#626262") {
                graylike.style.color = "#F9A392";
            }
            else {
                graylike.style.color = "#626262";
            }
        }
    </script>

    <style>
        .checked {
            color: orange;
        }
    </style>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
