@using TheBeautyForum.Web.ViewModels.Publication;
@model CreatePublicationViewModel

<form asp-controller="Publication" asp-action="Create" method="post">
    <div class="write-post-containerr">
        <div class="user-profile">
            <img src="@Model.UserProfilePic">
            <div>
                <p>
                    @Model.UserFirstName @Model.UserLastName
                    <span>
                        at
                        <select asp-for="@Model.StudioId" style="color: #9A9A9A; font-size: 13px; border: none; margin-left: -3px;">
                            <option value="" selected disabled hidden>CLICK TO SELECT STUDIO</option>
                            @foreach (var s in Model.Studios)
                            {
                                <option value="@s.Id">@s.StudioName</option>
                            }
                        </select>
                        <span asp-validation-for="Studios" class="text-danger"></span>
                    </span>
                </p>
            </div>
        </div>

        <div class="post-input-containerr">
            <textarea rows="1" style="padding-bottom: 0.7em;" placeholder="What's on your mind, @Model.UserFirstName?" asp-for="@Model.Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </textarea>
            <div style="display: flex; justify-content: space-between;">
                <div style="padding-top: 0em;">
                    <button type="button" class="btn btn-light" style="font-size: 13px; margin-top: 0.5em; margin-left: 0em; color: #F9A392; background-color:#FEF1EF; font-weight: 400; border-radius: 13px; padding: 0.4em 1em 0.4em 1em">Add photo</button>
                </div>

                <div style="padding-top: 0em;">
                    <button class="btn btn-light" type="submit" style="font-size: 13px; margin-top: 0.5em; margin-right: 1em; color: #F9A392; background-color:#FEF1EF; font-weight: 400; border-radius: 13px; padding: 0.4em 1em 0.4em 1em">
                        Post
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>