@using TheBeautyForum.Web.ViewModels.Studio;
@model List<ViewStudioViewModel>
@{
    ViewData["Title"] = "Studios";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/b9403dda92.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/studios.css">
    <link rel="stylesheet" href="~/css/post.css">
</head>
<body>
    <div class="container-fluid service">
        <div class="container py-3">

            <partial name="_FilterStudiosPartial" model="@Model[0].Filter" />

            <div class="row g-4 justify-content-start">
                @if (Model.Any())
                {
                    @foreach (var s in Model)
                    {
                        <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="service-item rounded">
                                <div class="service-img rounded-top">
                                    <img src="@s.ProfilePictureUrl" style="height: 300px; width: 300px; margin-top: 0" class="img-fluid rounded-top w-100" alt="">
                                </div>
                                <div class="service-content rounded-bottom light-ligth p-4">
                                    <div class="service-content-inner">
                                        <div style="height: 150px">
                                            <div style="display: flex; flex-direction: row">
                                                <h5 class="mb-1" style="padding-right: 0.1em">@s.Name</h5>
                                                @for (int i = 0; i < s.RatingSum; i++)
                                                {
                                                    <span style="font-size: 11px; padding-top: 0.5em" class="fa fa-star checked"></span>
                                                }
                                            </div>
                                            <p style="margin-bottom: 0.5em; font-size: 12px; font-weight: 400; color: #626262">@s.Description</p>
                                            <p style="margin-bottom: 0.2em; font-size: 13px"><span style="font-size: 13px; color: #626262">Location: </span>@s.Location</p>
                                            <p style="font-size: 13px"><span style="font-size: 13px; color: #626262">Offers: </span>@string.Join(", ", @s.Categories.Select(x => x.Name).Take(4))</p>
                                        </div>
                                        <a class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2" asp-controller="Studio" asp-action="Profile" asp-route-id="@s.Id">View profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded">
                            <div class="service-img rounded-top">
                                <img src="~/images/empty_state.png" style="height: 300px; width: 300px; margin-top: 0" class="img-fluid rounded-top w-100" alt="">
                            </div>
                            <div class="service-content rounded-bottom light-ligth p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-1">Nothing found.</h5>
                                    <div style="height: 100px"></div>
                                    <a class="btn btn-primary none rounded-pill text-white py-2 px-4 mb-2" style="background-color: gray">View profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>

<style>
    .light-ligth {
        background-color: white;
    }

    .checked {
        color: orange;
    }
</style>