@using System.Globalization;
@using System.Security.Claims;
@using TheBeautyForum.Web.ViewModels.Studio;
@model StudioProfileViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/styles.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/post.css">
    <script src="https://kit.fontawesome.com/b9403dda92.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-----------------------profile page----------------------->
    <div class="profile-container">
        <div class="profile-details" style="margin-top: 1.5em;">
            <div class="pd-left">
                <div class="pd-row" style="display: flex; flex-direction: row; align-items: center;">
                    <img src="@Model.ProfilePictureUrl" class="pd-image">
                    <div style="padding-top:0em;">
                        <h2>@Model.Name</h2>
                        <h6>@Model.Description</h6>
                        <p style="margin-bottom: 0.2em;">Open hours: @Model.OpenTime - @Model.CloseTime</p>
                        <p style="width: 25em; margin-bottom: 0.5em">Offers: @string.Join(", ", Model.CategoryNames.OrderBy(x => x))</p>
                        <div style="padding-top: 0em;">
                            <a type="button" class="btn btn-light" asp-controller="Appointment" asp-action="Create" asp-route-id="@Model.StudioId" style="color: #F9A392; background-color:#FEF1EF; font-weight: 400; border-radius: 13px; padding: 0.4em 1em 0.4em 1em; margin-top: 0.3em">Make appointment</a><a type="button" class="btn btn-light" asp-controller="Studio" asp-action="Edit" asp-route-id="@Model.StudioId" style="color: #F9A392; background-color:#FEF1EF; font-weight: 400; border-radius: 13px; padding: 0.4em 1em 0.4em 1em; margin-top: 0.3em">Edit profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-info">
            <div class="info-col">
                <div class="profile-intro">
                    <div class="total-box">
                        <h3>Clients' photos</h3>
                    </div>
                    <div class="photo-box">
                        @foreach (var p in Model.Images)
                        {
                            <div><img src="@p" alt=""></div>
                        }
                    </div>
                </div>
            </div>
            <div class="post-col">
                <div style="margin-right: 10em;">
                    @foreach (var p in Model.Publications.OrderByDescending(x => x.DatePosted))
                    {
                        <div class="post-containerr">
                            <div class="post-row">
                                <div class="user-profile">
                                    <img src="@p.ProfilePicUrl" alt="image">
                                    <div>
                                        <p>
                                            <a asp-controller="User" asp-action="UserProfile" asp-route-id="@p.UserId" style="color: #626262; font-size: 15px">@p.UserName </a><span>at <a asp-controller="Studio" asp-action="Profile" asp-route-id="@p.StudioId" style="color: #9A9A9A; font-size: 13px"> @p.StudioName</a></span>
                                        </p>
                                        <span>@CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(p.DatePosted.Month) @p.DatePosted.Day @p.DatePosted.Year, @p.DatePosted.ToString("HH:mm", CultureInfo.InvariantCulture)</span>
                                    </div>
                                </div>
                                @if (Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) == p.UserId)
                                {
                                    <div class="dropdown" style="float:right;">
                                        <button class="dropbtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                        <div class="dropdown-content">
                                            <div>
                                                <div onclick="return confirm('Are you sure you want to delete this publication?')">
                                                    @Html.ActionLink("Delete", "Delete", "Publication", new { PublicationId = p.Id, ViewUrl = "StudioProfile", studioId = p.StudioId }, null)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            @if (p.ImageUrl == null)
                            {
                                <p class="post-text" style="margin-bottom: 0px">
                                    @p.Description
                                </p>
                            }
                            else
                            {
                                <p class="post-text">
                                    @p.Description
                                </p>
                                <img src="@p.ImageUrl" class="post-img">
                            }
                            <div class="post-row">
                                <div class="activity-icons">
                                    <p style="font-size: 18px; margin: 0.5em 1em 0 0.5em">
                                        <i class="fa fa-regular fa-heart" onclick="likeButton()" style="cursor:pointer"></i> 0

                                        <i class="fa fa-regular fa-comment" style="margin-left:0.8em; cursor:pointer"></i> 0
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div>
                <div class="right-sidebar" style="margin-left: -10em; padding-left: 0.5em; padding-top: 0.3em;">
                    <div class="profile-intro">
                        <div class="sidebar-title">
                            <h4 style="font-size: 20px;">Appointments</h4>
                        </div>
                        @foreach (var a in Model.Appointments.OrderBy(x => x.StartDate))
                        {
                            <div class="event">
                                <div class="left-event" style="width: 55px;">
                                    <h3>@a.StartDate.Day</h3>
                                    <span>@CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(a.StartDate.Month)</span>
                                </div>
                                <div class="right-event">
                                    @if (a.Description!.Length > 29)
                                    {
                                        <h4>@a.Description.Substring(0, 29)...</h4>
                                    }
                                    else
                                    {
                                        <h4>@a.Description</h4>
                                    }
                                    <p>
                                        <i class="fa fa-solid fa-user"></i>
                                        <a asp-controller="User" asp-action="UserProfile" asp-route-id="@a.UserId" style="font-size: 14px;">@a.UserName</a>
                                        at @a.StartDate.ToString("HH:mm", CultureInfo.InvariantCulture)
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="right-sidebar" style="margin-left: -10em; padding-left: 0.5em; padding-top: 0.3em; margin-top: 1.2em;">
                    <div class="profile-intro" style="padding: 10px; padding-top: 0px;">
                        <div class="sidebar-title" style="margin-bottom: 0.3em">
                            <h4 style="font-size: 21px; padding: 20px 0px 0px 10px;">Location </br>
                            <span style="font-size: 12px; font-weight: 500">(@Model.Location)</span>
                            </h4>
                        </div>
                        <div class="event">
                            <a id="location" hidden>
                                @Model.Location
                            </a>
                            <div class="mapouter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="script.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/geolocation.js"></script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/mains.js"></script>
</body>
</html>