@using System.Globalization;
@using TheBeautyForum.Web.ViewModels.Studio;
@model StudioProfileViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/styles.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/post.css">
    <script src="https://kit.fontawesome.com/b9403dda92.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-----------------------profile page----------------------->
    <div class="profile-container">
        <div class="profile-details" style="margin-top: 1.5em;">
            <div class="pd-left">
                <div class="pd-row" style="display: flex; flex-direction: row; align-items: center;">
                    <img src="@Model.ProfilePictureUrl" class="pd-image">
                    <div style="padding-top:0em;">
                        <h2>@Model.Name</h2>
                        <h6>@Model.Description</h6>
                        <p style="margin-bottom: 0.2em;">Open hours: @Model.OpenTime - @Model.CloseTime</p>
                        <p style="width: 25em; margin-bottom: 0.5em">Offers: @string.Join(", ", Model.CategoryNames)</p>
                        <div style="padding-top: 0em;">
                            <button type="button" class="btn btn-light" style="color: #F9A392; background-color:#FEF1EF; font-weight: 400; border-radius: 13px; padding: 0.4em 1em 0.4em 1em">Edit profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-info">
            <div class="info-col">
                <div class="profile-intro">
                    <div class="total-box">
                        <h3>Photos</h3>
                    </div>
                    <div class="photo-box">
                        @foreach (var p in Model.Images)
                        {
                            <div><img src="@p" alt=""></div>
                        }
                    </div>
                </div>
            </div>
            <div class="post-col">
                <div style="margin-right: 10em;">
                    <div class="write-post-containerr">
                        <div class="user-profile">
                            <img src="@Model.ProfilePictureUrl">
                            <div>
                                <p>@Model.Name</p>
                            </div>
                        </div>

                        <div class="post-input-containerr">
                            <textarea rows="1" style="padding-bottom: 0.7em;" placeholder="What's on your mind, @Model.Name?"></textarea>
                            <div class="add-post-links">
                                <p style="font-size: 15px; margin-bottom: 0; cursor: pointer">
                                    <i class="fa fa-solid fa-images mr-1"></i>Add Photo
                                </p>
                            </div>
                        </div>
                    </div>
                    @foreach (var p in Model.Publications.OrderByDescending(x => x.DatePosted))
                    {
                        <div class="post-containerr">
                            <div class="post-row">
                                <div class="user-profile">
                                    <img src="@Model.ProfilePictureUrl" alt="image">
                                    <div>
                                        <p>@Model.Name</p>
                                        <span>@CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(p.DatePosted.Month) @p.DatePosted.Day @p.DatePosted.Year, @p.DatePosted.ToString("HH:mm", CultureInfo.InvariantCulture)</span>
                                    </div>
                                </div>
                            </div>
                            <p class="post-text">
                                @p.Description
                            </p>
                            <img src="@p.ImageUrl" class="post-img">
                            <div class="post-row">
                                <div class="activity-icons">
                                    <p style="font-size: 18px; margin: 0.5em 1em 0 1em">
                                        <i class="fa fa-regular fa-heart" onclick="likeButton()" style="cursor:pointer"></i> 0

                                        <i class="fa fa-regular fa-comment" style="margin-left:0.8em; cursor:pointer"></i> 0
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div>
                <div class="right-sidebar" style="margin-left: -10em; padding-left: 0.5em; padding-top: 0.3em">
                    <div class="profile-intro" style="padding: 10px; padding-top: 0px;">
                        <div class="sidebar-title">
                            <h4 style="font-size: 21px; padding: 20px 0px 0px 10px;">Location</h4>
                        </div>
                        <div class="event">
                            <div class="mapouter"><div class="gmap_canvas"><iframe width="330" height="330" id="gmap_canvas" src="https://maps.google.com/maps?q=sofia,%20hristo%20belchev&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><style>.mapouter{position:relative;text-align:right;height:330px;width:330px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:330px;width:330px;}</style></div></div>
                        </div>
                    </div>
                </div>

                <div class="right-sidebar" style="margin-left: -10em; padding-left: 0.5em; padding-top: 0.3em; margin-top: 1.2em;">
                    <div class="profile-intro">
                        <div class="sidebar-title">
                            <h4 style="font-size: 20px;">Appointments</h4>
                        </div>
                        @foreach (var a in Model.Appointments.OrderBy(x => x.StartDate))
                        {
                            <div class="event">
                                <div class="left-event" style="width: 55px;">
                                    <h3>@a.StartDate.Day</h3>
                                    <span>@CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(a.StartDate.Month)</span>
                                </div>
                                <div class="right-event">
                                    @if (a.Description!.Length > 47)
                                    {
                                        <h4>@a.Description.Substring(0, 47)...</h4>
                                    }
                                    else
                                    {
                                        <h4>@a.Description</h4>
                                    }
                                    <p><i class="fa fa-solid fa-user"></i>
                                        <a asp-controller="User" asp-action="UserProfile" asp-route-id="@a.UserId" style="font-size: 14px;">@a.UserName</a>
                                        at @a.StartDate.ToString("HH:mm", CultureInfo.InvariantCulture)</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="script.js"></script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/mains.js"></script>
</body>
</html>