@using System.Security.Claims;
@using TheBeautyForum.Web.ViewModels.Publication;
@using System.Globalization;

@model List<ForumViewModel>
@{
    ViewData["Title"] = "Forum";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/b9403dda92.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/post.css">

</head>
<body>
    <div class="containerr">
        <!------------------left-sidebar---------------------->
        <div class="left-sidebar" style="padding-top: 0em;">
            <div class="topnav">
                <div class="search-container" style="border-top-left-radius: 6px;">
                    <form>
                        <input class="bar" type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="imp-links">
                @foreach (var s in Model[0].Studios.OrderBy(x => x.StudioName))
                {
                    <a asp-controller="Studio" asp-action="Profile" asp-route-id="@s.StudioId" style="transition: color 0.1s ease;">@s.StudioName</a>
                }
            </div>
        </div>
        <!------------------main-content-------------------->
        <div class="main-content">

            <div>
                <partial name="_CreatePostPartial" model="@Model[0].Post" />
            </div>

            @foreach (var p in Model.OrderByDescending(x => x.DatePosted))
            {
                <div class="post-containerr">
                    <div class="post-row">
                        <div class="user-profile">
                            <img src="@p.PostUserProfilePic" alt="image">
                            <div>
                                <p>
                                    <a asp-controller="User" asp-action="UserProfile" asp-route-id="@p.PostUserId" style="color: #626262; font-size: 15px">@p.UserName </a><span>at <a asp-controller="Studio" asp-action="Profile" asp-route-id="@p.StudioId" style="color: #9A9A9A; font-size: 13px"> @p.StudioName</a></span>
                                </p>
                                <span>@CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(p.DatePosted.Month) @p.DatePosted.Day @p.DatePosted.Year, @p.DatePosted.ToString("HH:mm", CultureInfo.InvariantCulture)</span>
                            </div>
                        </div>
                        @if (Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) == p.PostUserId)
                        {
                            <div class="dropdown" style="float:right;">
                                <button class="dropbtn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                <div class="dropdown-content">
                                    <div>
                                        <div onclick="return confirm('Are you sure you want to delete this publication?')">
                                            @Html.ActionLink("Delete", "Delete", "Publication", new { PublicationId = p.PublicationId, ViewUrl = "Forum" }, null)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    @if (p.ImageUrl == null)
                    {
                        <p class="post-text" style="margin-bottom: 0px">
                            @p.Description
                        </p>
                    }
                    else
                    {
                        <p class="post-text">
                            @p.Description
                        </p>
                        <img src="@p.ImageUrl" class="post-img">
                    }
                    <div class="post-row">
                        <div class="activity-icons">
                            <p style="font-size: 18px; margin: 0.5em 1em 0 0.5em">
                                <i class="fa fa-regular fa-heart" onclick="likeButton()" style="cursor:pointer"></i> @p.LikeCount

                                <i class="fa fa-regular fa-comment" style="margin-left:0.8em; cursor:pointer"></i> @p.CommentCount
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--------------------right-sidebar-------------------->
        <div class="right-sidebar">
            <div class="sidebar-title">
                <h4>Publikacii za opredelen salon</h4>
            </div>
            @foreach (var s in Model[0].Studios.OrderBy(x => x.StudioName))
            {
                <p style="transition: color 0.1s ease; padding-left: 0.7em;">@s.StudioName</p>
            }
        </div>
    </div>
    <script>
        function likeButton() {
            let graylike = document.querySelector('.fa-heart');

            if (graylike.style.color = "#626262") {
                graylike.style.color = "#F9A392";
            }
            else {
                graylike.style.color = "#626262";
            }
        }
    </script>
    <style>
        .imp-links a:hover {
            color: #F9A392;
        }
    </style>
    <script src="script.js"></script>
</body>
</html>