@using TheBeautyForum.Web.ViewModels.Appointment;
@model CreateAppointmentViewModel
@{
    ViewData["Title"] = "Make an appointment";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/post.css">

</head>
<body>
    <div class="wrapper">
        <div class="inner" style="display: flex; justify-content: center">
            <div style="max-width: 40%; max-height: 40%; padding-left: 2em; padding-top:3.5em" class="image-holder">
                <img style="border-radius: 6px" src="@Model.StudioPfp" alt="">
            </div>
            <form id="formId" asp-route-returnUrl="" method="post" enctype="multipart/form-data">
                <h3>Make an appointment</h3>
                <input hidden asp-for="@Model.StudioPfp" value="@Model.StudioPfp"/>
                <input hidden asp-for="@Model.StudioId" value="@Model.StudioId"/>
                <input hidden asp-for="@Model.StudioOpenTime" value="@Model.StudioOpenTime" />
                <input hidden asp-for="@Model.StudioCloseTime" value="@Model.StudioCloseTime" />
                <input hidden asp-for="@Model.StartDateHour" value="@Model.StartDateHour" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-holder">
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                    <input asp-for="@Model.Description" class="form-control" placeholder="appointment description" autocomplete="on" aria-required="true" />
                </div>
                <div class="form-holder">
                    <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                    <select asp-for="@Model.CategoryId" class="form-control" style="font-size: 13px; border: none; margin-left: -3px;">
                        <option value="" selected disabled hidden>CLICK TO SELECT CATEGORY</option>
                        @foreach (var c in Model.Categories.OrderBy(x => x.Name))
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                </div>
                <div class="form-holder">
                    <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                    <input asp-for="@Model.StartDate" class="form-control" style="font-size: 13px; border: none; margin-left: -3px;" asp-for="@Model.EndDate" type="date" value="@DateTime.UtcNow">
                </div>
                <div class="form-holder">
                    <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                    <select asp-for="@Model.StartDateHour" class="form-control" style="font-size: 13px; border: none; margin-left: -3px;">
                        <option value="" selected disabled hidden>hh:mm</option>
                        @for (int i = TimeOnly.Parse(Model.StudioOpenTime).Hour; i < TimeOnly.Parse(Model.StudioCloseTime).Hour;)
                        {
                            <option value="@i"> @i:00-@(++i):00</option>
                        }
                    </select>
                </div>
                <div class="form-login" style="margin-bottom: 2.5em;">
                    <button id="registerSubmit" class="button" type="submit" asp-controller="Appointment" asp-action="Create" formmethod="post" asp-route-id="@Model.StudioId"><b>Save</b></button>
                    <a class="button" asp-controller="Studio" asp-action="Profile" asp-route-id="@Model.StudioId"><b>Cancel</b></a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <style>
        form {
            width: 50%;
            padding-top: inherit;
            padding-right: 60px;
            padding-left: 15px;
        }

        #formId {
            width: 50%;
            padding-top: 40px;
            padding-right: 60px;
            padding-left: 15px;
        }

        input[type="file"]::file-selector-button {
            width: 142px;
            color: transparent;
            border-radius: 4px;
            margin-right: 1px;
        }

        input[type="file"]::before {
            position: absolute;
            padding-left: 0em;
            pointer-events: none;
            content: "Upload profile pic: ";
        }

        input[type="file"]::file-selector-button {
            border-radius: 4px;
            cursor: pointer;
            background-color: #f7f7f7;
        }
    </style>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>