@using System.Globalization;
@using TheBeautyForum.Web.ViewModels.Image;
@model List<ForumViewModel>
@{
    ViewData["Title"] = "Forum";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/post.css">

</head>
<body>
    <div class="containerr">
        <!------------------left-sidebar---------------------->
        <div class="left-sidebar">
            <div class="topnav">
                <div class="search-container" style="border-top-left-radius: 6px;">
                    <form>
                        <input class="bar" type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="imp-links">
                @foreach (var s in Model[0].Studios.OrderBy(x => x.StudioName))
                {
                    <a asp-controller="Studio" asp-action="Profile" asp-route-id="@s.StudioId" style="transition: color 0.1s ease;">@s.StudioName</a>
                }
            </div>
        </div>
        <!------------------main-content-------------------->
        <div class="main-content">
            <div class="write-post-containerr">
                <div class="user-profile">
                    <img src="@Model[0].UserProfilePic">
                    <div>
                        <p>@Model[0].UserFirstName @Model[0].UserLastName</p>
                    </div>
                </div>

                <div class="post-input-containerr">
                    <textarea rows="1" style="padding-bottom: 0.7em;" placeholder="What's on your mind, @Model[0].UserFirstName?"></textarea>
                    <div class="add-post-links">
                        <p style="font-size: 15px; margin-bottom: 0; cursor: pointer">
                            <i class="fa fa-solid fa-images mr-1"></i>Add Photo
                        </p>
                    </div>
                </div>
            </div>
            @foreach (var p in Model.OrderByDescending(x => x.DatePosted))
            {
                <div class="post-containerr">
                    <div class="post-row">
                        <div class="user-profile">
                            <img src="@p.PostUserProfilePic" alt="image">
                            <div>
                                <p>@p.UserName <span>at @p.StudioName</span></p>
                                <span>@CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(p.DatePosted.Month) @p.DatePosted.Day @p.DatePosted.Year, @p.DatePosted.ToString("HH:mm", CultureInfo.InvariantCulture)</span>
                            </div>
                        </div>
                    </div>

                    <p class="post-text">
                        @p.Description
                    </p>
                    @foreach (var i in p.Images)
                    {
                        <img src="@i" class="post-img">
                    }
                    <div class="post-row">
                        <div class="activity-icons">
                            <p style="font-size: 18px; margin: 0.5em 1em 0 1em">
                                <i class="fa fa-regular fa-heart" onclick="likeButton()" style="cursor:pointer"></i> @p.LikeCount

                                <i class="fa fa-regular fa-comment" style="margin-left:0.8em; cursor:pointer"></i> @p.CommentCount
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--------------------right-sidebar-------------------->
        <div class="right-sidebar">
            <div class="sidebar-title">
                <h4>Publikacii za opredelen salon</h4>
            </div>
            @foreach (var s in Model[0].Studios.OrderBy(x => x.StudioName))
            {
                <p style="transition: color 0.1s ease; padding-left: 0.7em;">@s.StudioName</p>
            }
        </div>
    </div>
    <script>
        function likeButton() {
            let graylike = document.querySelector('.fa-heart');

            if (graylike.style.color = "#626262") {
                graylike.style.color = "#F9A392";
            }
            else {
                graylike.style.color = "#626262";
            }
        }
    </script>
    <style>
        .imp-links a:hover {
            color: #F9A392;
        }
    </style>
    <script src="script.js"></script>
</body>
</html>