@using System.Globalization;
@using TheBeautyForum.Web.ViewModels.User;
@model ProfileViewModel
@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/styles.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/post.css">
    <script src="https://kit.fontawesome.com/b9403dda92.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-----------------------profile page----------------------->
    <div class="profile-container">
        <div class="profile-details" style="margin-top: 1.5em;">
            <div class="pd-left">
                <div class="pd-row" style="display: flex; flex-direction: row; align-items: center;">
                    <img src="@Model.ProfilePictureUrl" class="pd-image">
                    <div style="padding-top:0em;">
                        <h2>@Model.FirstName @Model.LastName</h2>
                        <h7>@Model.Email</h7>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-info">
            <div class="info-col">
                <div class="profile-intro">
                    <div class="total-box">
                        <h3>Photos</h3>
                    </div>
                    <div class="photo-box">
                        @foreach (var p in Model.Images)
                        {
                            <div> <img src="@p" alt=""></div>
                        }
                    </div>
                </div>
            </div>
            <div class="post-col">
                <div style="margin-right: 10em;">
                    @foreach (var p in Model.Publications.OrderByDescending(x => x.DatePosted))
                    {
                        <div class="post-containerr">
                            <div class="post-row">
                                <div class="user-profile">
                                    <img src="@Model.ProfilePictureUrl" alt="image">
                                    <div>
                                        <p>
                                            @Model.FirstName @Model.LastName
                                            <span>
                                                at
                                                <a asp-controller="Studio" asp-action="Profile" asp-route-id="@p.StudioId" style="color: #9A9A9A; font-size: 13px">
                                                    @p.StudioName
                                                </a>
                                            </span>
                                        </p>
                                        <span>@CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(p.DatePosted.Month) @p.DatePosted.Day @p.DatePosted.Year, @p.DatePosted.ToString("HH:mm", CultureInfo.InvariantCulture)</span>
                                    </div>
                                </div>
                            </div>
                            <p class="post-text">
                                @p.Description
                            </p>
                            <img src="@p.ImageUrl" class="post-img">
                            <div class="post-row">
                                <div class="activity-icons">
                                    <p style="font-size: 18px; margin: 0.5em 1em 0 1em">
                                        <i class="fa fa-regular fa-heart" onclick="likeButton()" style="cursor:pointer"></i> 0
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="right-sidebar" style="margin-left: -10em; padding-left: 0.5em; padding-top: 0.3em">
                <div class="profile-intro" style="padding-bottom: 0px;">
                    <div class="sidebar-title" style="margin-bottom: 0.3em;">
                        <h4 style="font-size: 20px;">Visited studios</h4>
                    </div>
                    @foreach (var a in Model.FavoriteStudios.OrderBy(x => x.StudioName))
                    {
                        <div class="event">
                            <img style="width: 55px; border-radius: 6px;" src="@a.ProfilePicUrl">
                            <div class="right-event">
                                <p style="padding-left: 0.8em; margin-bottom: 0px; padding-top: 0px; margin-top: 0px; color: #626262;">
                                    <a asp-controller="Studio" asp-action="Profile" asp-route-id="@a.StudioId" style="font-size: 15px; color:#626262"><i class="fas fa-map-marker-alt"></i> @a.StudioName</a>
                                </p>
                                <p style="padding-left: 0.8em; padding-top: 0px; margin-bottom: 0px; font-size: 13px;"><i class="fa fa-solid fa-check"></i> @a.StudioDescription</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        function likeButton() {
            let graylike = document.querySelector('.fa-heart');

            if (graylike.style.color = "#626262") {
                graylike.style.color = "#F9A392";
            }
            else {
                graylike.style.color = "#626262";
            }
        }
    </script>
    <script src="script.js"></script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/mains.js"></script>
</body>
</html>